@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Alexander Orendain
   Date: 9.10.18
   
   Filename: mw_styles.css

*/

/* Structural Styles */
/*In this block of code underneath, I changed the actual page color to a lavenderesque color. I also changed the actual web content background color to a pale orange and affected the footer and address by chnaging their background color and their content's layout. */
html {
    background-color: rgb(173, 189, 227);
}

body {
    background-color: rgb(227, 210, 173);
    font-family: Century Gothic, sans-serif;
}

footer {
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}

address {
    font: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
}

/* Heading Styles */
/* Underneath, I have changed the font of the h1 and h2 headings so that they appear to be "lighter" as opposed to "bolder". By setting the font weight to normal, the headings are no longer bold. */
h1,
h2 {
    font-weight: normal;
}

/* Navigation Styles */
/* Below, I have directly affected the nav by changing the text within it to a certain font size/color. I have also made it to where if one where to hover over a link or click on one, the text would change colors. */
nav>ul {
    list-style-type: none;
    line-height: 2em;
    font-size: 0.9em;
}

nav>ul>li>a:link,
nav>ul>li>a:visited {
    text-decoration: none;
    color: rgb(43, 59, 125);
}

nav>ul>li>a:active,
nav>ul>li>a:hover {
    color: rgb(212, 35, 35);
}

/* Article Styles */
/* Underneath, I have edited the tour summary by setting certain font sizes to the headings and the actual paragraphs. I have also edited the first line of paragraph text to where the letters appear in all caps but are small in size except for the begininng letter of every word which appears larger. */
article#tour_summary h1 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

article#tour_summary p {
    font-size: 1.1em;
}

article#tour_summary p:first-of-type::first-line {
    font-size: 1.2em;
    font-variant: small-caps;
}

/* Aside Styles */
/* In the block of code below, I edited the content that appears on the side by changing the fonts for the headings and paragraphs. I have also made it so where the color of the headings and paragraphs alternate between lavender and black. */
aside#tour_itinerary h1 {
    font-size: 1.2em;
}

aside#tour_itinerary h2 {
    font-size: 0.9em;
}

aside#tour_itinerary p {
    font-size: 0.8em;
}

aside p:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside h2:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside p:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

aside h2:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

/* Blockquote Styles */
/* Underneath, I have edited the blockquote by giving it a bluish, semitransparent background and by changing the blockquotes dimensions. */
blockquote {
    background-color: rgb(173, 189, 227);
    color: rgb(255, 255, 255);
    opacity: 0.65;
}

blockquote p {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
}